@import url(rester.css);
@import url(listsection.css);
@import url(tasksection.css);
@import url(hamburgerlist.css);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');
:root {
  --list-section-theme:#202020;
  --task-section-theme:#1c1c1c;
  --pale-white-txt:#bdbdbd;
  --text-theme:#479f99;
  --selection-color: #3a3a3a;
}
*::selection{
  background: var(--selection-color);
}
main {
  display: flex;
  position: absolute;
  width: 100%;
  min-width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
