@import url(rester.css);
@import url(Sections/listsection.css);
@import url(Sections/tasksection.css);
@import url(Sections/hamburgerlist.css);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');

:root {
  --list-section-theme:#202020;
  --task-section-theme:#1c1c1c;

  --pale-white-txt:#bdbdbd;
  --text-theme:#479f99;
  
  --selection-color: #505050;
}
*::selection{
  background: var(--selection-color);
}

main {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 100%;
  min-width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Z-indexs
 
task section  = 6

task header section = 7

task header section options dropdown = 8

dark overlay = 9

list section = 10

*/