main .task-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: var(--task-section-theme);
  z-index: 3;
  transition: all 0.3s ease-in;
}
/* ! -------------------------------- Task Header Section -------------------------------- ! */
.task-header-section {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 7;
  padding: 20px 40px;
  width: 100%;
  height: 120px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
}
/* ! -------------------------------- Task Header Section Options & Dropdown -------------------------------- ! */
.task-header-section .task-header-options {
  margin-left: auto;
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
  line-height: 30px;
  color: var(--pale-white-txt);
}
.task-header-options:hover {
  cursor: pointer;
  background-color: #323232;
}
.taskheader-options-dropdown {
  width: 130px;
  height: 0;
  position: absolute;
  right: 40px;
  overflow: hidden;
  z-index: 8;
  transition: all 0.3s ease-in;
  opacity: 0;
  font-size: 1.1rem;
  text-align: left;
  border-radius: 5px;
  border: 1px solid #363636;
  background-color: #212121;
}
.taskheader-options-dropdown li {
  transition: all 0.3s ease-in;
  margin: 5px 10px;
}
.taskheader-options-dropdown li i {
  margin-right: 5px;
}
.taskheader-options-dropdown li:hover {
  color: var(--text-theme);
}
.options-button:hover .taskheader-options-dropdown {
  height: 110px;
  opacity: 1;
}
/* ! -------------------------------- Task Header Info -------------------------------- ! */
.taskheader-name-date {
  color: var(--text-theme);
  font-size: 1.2rem;
  user-select: text;
}
.taskheader-author-info {
  font-size: 1.5rem;
}
.taskheader-author-info a i {
  color: var(--pale-white-txt);
  padding-right: 5px;
}
.list-name {
  user-select: none;
}
@media (max-width: 1100px) {
  .taskheader-name-date {
     font-size: 0.9rem;
  }
  .taskheader-author-info{
    font-size: 1rem;
  }
}
/* ! -------------------------------- No Task Section (Defualt) -------------------------------- ! */
.no-tasks-svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-theme);
  text-align: center;
  transition: all 0.2s linear;
}
.no-tasks-svg p {
  width: 300px;
  font-size: 0.9rem;
}
.calendar-notaks-svg {
  width: 100px;
  height: 100px;
}
.no-tasks-svgactive {
  opacity: 0;
  visibility: hidden;
}
.no-tasks-svgdeactive {
  opacity: 1;
  visibility: visible;
  display: flex;
}
@media (max-width: 1100px) {
  .calendar-notaks-svg {
     width: 80px;
     height: 80px;
  }
  .no-tasks-svg p {
     width: 300px;
     font-size: 0.9rem;
  }
  .no-tasks-svg h2 {
     font-size: 1.5rem;
  }
}
@media (max-width: 476px) {
  .calendar-notaks-svg {
     width: 70px;
     height: 70px;
  }
  .no-tasks-svg p {
     width: 250px;
     font-size: 0.8rem;
  }
  .no-tasks-svg h2 {
     font-size: 1.2rem;
  }
  .taskheader-options-dropdown li {
     width: 140px !important;
     font-size: 0.9rem !important;
  }
}
/* ! -------------------------------- Task Container & Wrapper -------------------------------- ! */
.task-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}
.task-container {
  position: sticky;
  width: 100%;
  height: 85vh;
  overflow-y: auto;
  scrollbar-width: none;
}
.taskparent-container {
  display: flex;
  flex-direction: column;
  padding: 0 36px;
  z-index: 5;
}
.tasklist-container {
  display: flex;
  align-items: center;
  height: 55px;
  width: 100%;
  margin: 0.5px 0;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  border: 1px rgba(0, 0, 0, 0.4) solid;
  background-color: #2a2a2a;
  user-select: none;
}
/* styling the inside of the tasks */
.taskparent-container {
  transition: all 0.3s ease-in;
}
.task-title {
  color: var(--pale-white-txt);
  user-select: text;
}
.taskdelete-btn {
  margin: 0 5px;
  position: absolute;
  right: 70px;
  font-size: 1.3rem;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-theme);
  transition: all 0.3s linear;
}
.taskdelete-btn:hover {
  cursor: pointer;
  color: red;
}
.custom-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.custom-checkbox .checkmark {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border: 2px solid #222;
  display: inline-block;
  border-radius: 50%;
  background: var(--text-theme) url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png) center/1250% no-repeat;
  transition: background-size 0.2s ease;
}
.custom-checkbox input:checked+.checkmark {
  background-size: 60%;
  transition: background-size 0.25s cubic-bezier(0.7, 0, 0.18, 1.24);
}
.custom-checkbox input {
  display: none;
}
.custom-importantcheckbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
}
.custom-importantcheckbox .important-checkmark {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border: 2px solid #222;
  display: inline-block;
  border-radius: 50%;
  background: var(--text-theme) url(https://img.icons8.com/ios-filled/344/ffffff/star--v1.png) center/1200% no-repeat;
  transition: background-size 0.2s ease;
}
.custom-importantcheckbox input:checked+.important-checkmark {
  background-size: 70%;
  transition: background-size 0.25s cubic-bezier(0.7, 0, 0.18, 1.24);
}
.custom-importantcheckbox input {
  display: none;
}
/* ! -------------------------------- Task Section Input -------------------------------- ! */
.task-generator {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 5%;
  z-index: 6;
}
.taskgenerator-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 37px;
}
.taskgene-title {
  width: 100%;
  height: 55px;
  padding: 10px;
  text-indent: 28px;
  border-radius: 5px;
  background-color: #2a2a2a;
  border: none;
  color: var(--pale-white-txt);
}
.taskgene-title:focus {
  border: 1px solid var(--text-theme);
  outline: none;
}
.task-submitbtn {
  position: absolute;
  left: 52px;
  cursor: pointer;
  color: var(--text-theme);
  background-color: transparent;
  border: none;
  outline: none;
}
